@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?il8ljc');
  src:  url('fonts/icomoon.eot?il8ljc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?il8ljc') format('truetype'),
    url('fonts/icomoon.woff?il8ljc') format('woff'),
    url('fonts/icomoon.svg?il8ljc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rouble25:before {
  content: "\e9c6";
}
.icon-play25:before {
  content: "\e9c5";
}
.icon-brain:before {
  content: "\e9c4";
}
.icon-calendar_b2:before {
  content: "\e99c";
}
.icon-clock_b2:before {
  content: "\e99e";
}
.icon-reab_b2:before {
  content: "\e9c3";
}
.icon-arr_b:before {
  content: "\e998";
}
.icon-clock_b:before {
  content: "\e999";
}
.icon-date_b:before {
  content: "\e99a";
}
.icon-eye_b:before {
  content: "\e99b";
}
.icon-lupa_b:before {
  content: "\e995";
}
.icon-phone_b:before {
  content: "\e997";
}
.icon-vk_b:before {
  content: "\e990";
}
.icon-youtube_b:before {
  content: "\e991";
}
.icon-tg_b:before {
  content: "\e98e";
}
.icon-wa_b:before {
  content: "\e98f";
}
.icon-bdown:before {
  content: "\e964";
}
.icon-bhands:before {
  content: "\e966";
}
.icon-bleft1:before {
  content: "\e967";
}
.icon-bleft2:before {
  content: "\e968";
}
.icon-bmed:before {
  content: "\e969";
}
.icon-bminus:before {
  content: "\e977";
}
.icon-bphd:before {
  content: "\e979";
}
.icon-bplus:before {
  content: "\e97b";
}
.icon-bportfel:before {
  content: "\e97c";
}
.icon-bright1:before {
  content: "\e985";
}
.icon-bright2:before {
  content: "\e986";
}
.icon-bsert:before {
  content: "\e988";
}
.icon-bstar:before {
  content: "\e989";
}
.icon-bstar2:before {
  content: "\e98a";
}
.icon-bstartop100:before {
  content: "\e98c";
}
.icon-bvictory:before {
  content: "\e98d";
}
.icon-eye25:before {
  content: "\e961";
}
.icon-phone251:before {
  content: "\e95e";
}
.icon-tg251:before {
  content: "\e95f";
}
.icon-whatsapp251:before {
  content: "\e960";
}
.icon-clock_fly24b:before {
  content: "\e942";
}
.icon-phone_fly24b:before {
  content: "\e94b";
}
.icon-pin_fly24b:before {
  content: "\e95b";
}
.icon-arrow_down:before {
  content: "\e923";
}
.icon-arrow_up:before {
  content: "\e926";
}
.icon-phone202409:before {
  content: "\e92a";
}
.icon-pin2024091:before {
  content: "\e92d";
}
.icon-pin2024092:before {
  content: "\e93e";
}
.icon-close24:before {
  content: "\e918";
}
.icon-clock2:before {
  content: "\e91f";
}
.icon-location-pin2:before {
  content: "\e920";
}
.icon-download5:before {
  content: "\e921";
}
.icon-pin6:before {
  content: "\e922";
}
.icon-check23a:before {
  content: "\e905";
  color: #4f4f4f;
}
.icon-arrow-e:before {
  content: "\e906";
  color: #4f4f4f;
}
.icon-arrow-ne:before {
  content: "\e908";
}
.icon-percentage:before {
  content: "\e909";
}
.icon-phone23a:before {
  content: "\e90c";
}
.icon-arrow-w:before {
  content: "\e90d";
  color: #4f4f4f;
}
.icon-playtriangle:before {
  content: "\e911";
}
.icon-file-jpg:before {
  content: "\e9b1";
}
.icon-file-txt:before {
  content: "\e9b2";
}
.icon-file-pdf:before {
  content: "\e9b3";
}
.icon-file-png:before {
  content: "\e9b4";
}
.icon-file-atta:before {
  content: "\e9b5";
}
.icon-file-txt2:before {
  content: "\e9b6";
}
.icon-file-pdf2:before {
  content: "\e9b7";
}
.icon-file-pdf3:before {
  content: "\e9b8";
}
.icon-diploma5:before {
  content: "\e9b9";
}
.icon-diploma4:before {
  content: "\e9ba";
}
.icon-diploma3:before {
  content: "\e9bb";
}
.icon-diploma2:before {
  content: "\e9bc";
}
.icon-diploma1:before {
  content: "\e9bd";
}
.icon-diploma6:before {
  content: "\e9be";
}
.icon-diploma7:before {
  content: "\e9bf";
}
.icon-diploma8:before {
  content: "\e9c0";
}
.icon-diploma9:before {
  content: "\e9c1";
}
.icon-diploma10:before {
  content: "\e9c2";
}
.icon-cart:before {
  content: "\e9ac";
}
.icon-pdf:before {
  content: "\e9ad";
}
.icon-play2:before {
  content: "\e9ae";
}
.icon-ruble:before {
  content: "\e9af";
}
.icon-user2:before {
  content: "\e9b0";
}
.icon-telegram2:before {
  content: "\e9a5";
}
.icon-viber2:before {
  content: "\e9a6";
}
.icon-whatsapp2:before {
  content: "\e9a7";
}
.icon-telegram8:before {
  content: "\e9a8";
}
.icon-viber8:before {
  content: "\e9aa";
}
.icon-whatsapp8:before {
  content: "\e9ab";
}
.icon-dislike1:before {
  content: "\e99f";
}
.icon-like1:before {
  content: "\e9a0";
}
.icon-share1:before {
  content: "\e9a1";
}
.icon-left-end-arrow2:before {
  content: "\e984";
}
.icon-right-end-arrow2:before {
  content: "\e987";
}
.icon-microphone2:before {
  content: "\e981";
  color: #534764;
}
.icon-portfolio2:before {
  content: "\e982";
  color: #534764;
}
.icon-videocamera:before {
  content: "\e983";
  color: #534764;
}
.icon-pin-1:before {
  content: "\e98b";
}
.icon-alarm:before {
  content: "\e992";
}
.icon-email:before {
  content: "\e993";
}
.icon-calendar:before {
  content: "\e994";
}
.icon-magic1:before {
  content: "\e996";
}
.icon-woman-with:before {
  content: "\e99d";
}
.icon-phonein2:before {
  content: "\e980";
  color: #4f4f4f;
}
.icon-phonein:before {
  content: "\e97f";
}
.icon-smartphone:before {
  content: "\e97d";
  color: #4f4f4f;
}
.icon-tag:before {
  content: "\e97e";
}
.icon-discount:before {
  content: "\e97a";
}
.icon-paste:before {
  content: "\e976";
}
.icon-telephone:before {
  content: "\e978";
}
.icon-refresh:before {
  content: "\e943";
}
.icon-refresh2:before {
  content: "\e958";
}
.icon-diamond:before {
  content: "\e974";
}
.icon-hamburger1:before {
  content: "\e975";
}
.icon-followers1:before {
  content: "\e963";
}
.icon-home:before {
  content: "\e96a";
}
.icon-log-in:before {
  content: "\e96b";
}
.icon-log-out:before {
  content: "\e96c";
}
.icon-pin:before {
  content: "\e96d";
}
.icon-user-add:before {
  content: "\e96e";
}
.icon-user-del:before {
  content: "\e96f";
}
.icon-user-ok:before {
  content: "\e970";
}
.icon-youtube4:before {
  content: "\e971";
}
.icon-filter:before {
  content: "\e939";
}
.icon-eshopping-cart:before {
  content: "\e938";
}
.icon-eheart1:before {
  content: "\e936";
}
.icon-emenu1:before {
  content: "\e937";
}
.icon-eavatar:before {
  content: "\e933";
}
.icon-exit:before {
  content: "\e934";
}
.icon-logout1:before {
  content: "\e935";
}
.icon-equipment:before {
  content: "\e927";
}
.icon-menu4block:before {
  content: "\e928";
}
.icon-shopping-cart5:before {
  content: "\e932";
}
.icon-marker3:before {
  content: "\e919";
}
.icon-rrubles:before {
  content: "\e91b";
}
.icon-search3:before {
  content: "\e91c";
}
.icon-telephone3:before {
  content: "\e924";
  color: #4f4f4f;
}
.icon-youtube3:before {
  content: "\e925";
}
.icon-followers:before {
  content: "\e900";
}
.icon-shopping-bag:before {
  content: "\e902";
}
.icon-shopping-cart:before {
  content: "\e904";
}
.icon-phone-call:before {
  content: "\e965";
}
.icon-writing:before {
  content: "\e962";
}
.icon-phone-call-12:before {
  content: "\e95a";
}
.icon-list:before {
  content: "\e959";
}
.icon-down3:before {
  content: "\e954";
}
.icon-up3:before {
  content: "\e955";
}
.icon-leftss2:before {
  content: "\e952";
}
.icon-rightss2:before {
  content: "\e953";
}
.icon-like2fill:before {
  content: "\e94f";
}
.icon-like2:before {
  content: "\e950";
}
.icon-search2:before {
  content: "\e951";
}
.icon-bag:before {
  content: "\e94c";
}
.icon-left-end-arrow:before {
  content: "\e948";
}
.icon-right-end-arrow:before {
  content: "\e949";
}
.icon-down:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e903";
}
.icon-marker1:before {
  content: "\e907";
}
.icon-avatar1:before {
  content: "\e90a";
}
.icon-search1:before {
  content: "\e90b";
}
.icon-cart1:before {
  content: "\e90e";
}
.icon-arr-right1:before {
  content: "\e90f";
}
.icon-more1:before {
  content: "\e910";
}
.icon-ok:before {
  content: "\e912";
}
.icon-ig:before {
  content: "\e913";
}
.icon-arr-left1:before {
  content: "\e914";
}
.icon-close1:before {
  content: "\e915";
}
.icon-up1:before {
  content: "\e916";
}
.icon-vk:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-viber:before {
  content: "\e91d";
}
.icon-watsapp:before {
  content: "\e91e";
}
.icon-circular-wall-clock:before {
  content: "\e929";
}
.icon-close:before {
  content: "\e92b";
}
.icon-shopping-cart1:before {
  content: "\e92c";
}
.icon-next2:before {
  content: "\e92e";
}
.icon-shield-checked:before {
  content: "\e92f";
}
.icon-back2:before {
  content: "\e930";
}
.icon-eye:before {
  content: "\e931";
}
.icon-sort2:before {
  content: "\e93d";
}
.icon-qrcode:before {
  content: "\e93f";
}
.icon-phone2:before {
  content: "\e944";
}
.icon-phone-hang-up:before {
  content: "\e945";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit1:before {
  content: "\ea14";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-chevron-up:before {
  content: "\e940";
}
.icon-chevrons-down:before {
  content: "\e941";
}
.icon-chevrons-left:before {
  content: "\e946";
}
.icon-chevrons-right:before {
  content: "\e947";
}
.icon-chevrons-up:before {
  content: "\e94a";
}
.icon-log-in1:before {
  content: "\e972";
}
.icon-log-out1:before {
  content: "\e973";
}
.icon-minus:before {
  content: "\e94d";
}
.icon-plus1:before {
  content: "\e94e";
}
.icon-skip-back:before {
  content: "\e956";
}
.icon-skip-forward:before {
  content: "\e957";
}
.icon-close5:before {
  content: "\e95c";
}
.icon-youtube1:before {
  content: "\e95d";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-play:before {
  content: "\e9a2";
}
.icon-cog:before {
  content: "\e9a3";
}
.icon-cogs:before {
  content: "\e9a4";
}
