.tabs {
    padding: 0 20px;
    text-align: center;
    font-size: 0;
}

a.tab {
    display: inline-block;
    background-color: #e4e4e4;
    color: #2c2c2c;
    padding: 0 34px;
    text-align: center;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0 1px;
    text-decoration: none;
}

.tab.active {
    background: url(../img/bg3.jpg);
    color: #fff;
}

.widgets {
    width: 100%;
    border: 1px solid #c6c6c6;
}

.widget {
    display: none;
}

.widget.active {
    display: block;
    visibility: visible !important;
}